.hiiirLoading-full {
  display: none;
  width: 200px;
  height: auto;
  margin: -43px 0px 0px -100px;
  padding: 10px;
  opacity: 0.88;
  z-index: 10000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#444444 0%, #222222 100%);
  background-image: -moz-linear-gradient(#444444 0%, #222222 100%);
  background-image: -o-linear-gradient(#444444 0%, #222222 100%);
  background-image: linear-gradient(#444444 0%, #222222 100%);
  background: #444444 \9;
  border: 1px solid #444444;
  border-radius: 0.6em;
  color: white;
  font-weight: normal;
  position: fixed;
  top: 50%;
  left: 50%;
}
.hiiirLoading-full > .icon {
  margin: 0 auto 10px;
  opacity: 0.75;
  background-color: black;
  border-radius: 36px;
  display: block;
  height: 45px;
  padding: 1px;
  width: 45px;
  background: url(images/ajax-loader.gif) no-repeat;
}
.hiiirLoading-full > .title {
  color: #fff;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.hiiirLoading-full-fade {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.45;
  background: url(images/fade.png) repeat center center\9;
  z-index: 9999;
  position: fixed;
  left: 0px;
  top: 0px;
}
.hiiirLoading-area {
  display: none;
  width: 25px;
  height: 25px;
  z-index: 10000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12.5px;
  background: url(images/ajax-loader-area.gif) no-repeat;
}
.hiiirLoading-area-fade {
  display: none;
  width: 100%;
  height: 100%;
  background: url(images/fade-area.png) repeat center center;
  background: url(images/fade.png) repeat center center\9;
  z-index: 5000;
  position: absolute;
  left: 0px;
  top: 0px;
}